rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /experiences/{document} {
      allow read, write: if true;
    }
    match /posts/{document} {
      allow read, write: if true;
    }
    match /leads/{document} {
      allow read, write: if true;
    }
    match /settings/{document} {
      allow read, write: if true;
    }
    match /users/{document} {
      allow read, write: if true;
    }
    match /reservations/{document} {
      allow read, write: if true;
    }
    match /accommodations/{document} {
      allow read, write: if true;
    }
    match /partners/{document} {
      allow read, write: if true;
    }
    match /financial/{document} {
      allow read, write: if true;
    }
    match /affiliates/{document} {
      allow read, write: if true;
    }
    match /budgets/{document} {
      allow read, write: if true;
    }
    match /destinations/{document} {
      allow read, write: if true;
    }
    match /globalSettings/{document} {
      allow read, write: if true;
    }
  }
}
